{% extends 'base_bootstrap.html.twig' %}

{% block body %}

<div class="container">{{ app.user.firstname }} </div>
<div class="container">{{ app.user.lastname }}</div>

<div class="circle-img img-circle">
	<img src="{{ asset('/avatars/' ~ app.user.profilePicturePath) }}" class="img-fluid"/>
</div>

<div class="container">{{ app.user.email }}</div>
<div class="container">{{ app.user.username }}</div>


<div class="container"> <a href="{{path('fos_user_profile_edit')}}" >{{ 'edit my profil' | trans }}</a> </div>


{% endblock body %}