{% extends 'base_bootstrap.html.twig' %}

{% block body %}
    <div class="container">
        {% for comment in comments %}
            <div class="row">
                <div class="col-sm-1">
                    <div class="circle-img img-circle">
                        <img src="{{ asset('/avatars/' ~ comment.user.profilePicturePath) }}" class="img-fluid"/>
                    </div>
                </div>
                <div class="col-sm">
                    <p><a href="{{path('user', {'id':comment.user.id})}}"> {{comment.user.username}} </a>
                    <br/>{{ comment.text | nl2br }}</p>
                </div>
            </div>
        {% else %}
            {{'Pas de commentaires' | trans  | nl2br}}
        {% endfor %}
    </div>
{% endblock body %}